/*==============================================================================

        Color Variables

===============================================================================*/

$dark-grey:                 #464646;
$grey:						#7d7d7d;
$light-grey:				#d1d2d4;
$lightest-grey:				#e9e9e9;
$white:						#ffffff;
$black:                     #000000;





$font-custom: 'Lato', sans-serif;
$bold: 700;
$regular: 400;
$button-transition: all .25s ease-in-out;