@charset "UTF-8";
@charset "iso-8859-15";
@import "config";
@import "variables";
@import "bootstrap";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	
	position: relative;
  margin: 0;
  padding-bottom: 13rem;
  min-height: 100%;
}




a {
	color:$grey;
	&:hover {
		text-decoration: none;
	}
}

.row {
	margin:0;
}

/*
Max content widths
*/
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Header logo
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
  display: inline-block;
	padding-left 60px;
  background: url(../img/logo.png) 0 0 no-repeat;
}
*/

/*
Main content
*/

#content article {
  margin-bottom: 40px
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/*
Sidebar
*/

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 

/*
Comments
*/ 

#respond {
  margin-top: 40px;
}
ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;  
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f8f8f8;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f8f8f8
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}


/*
	Global
*/

.no-pad {
	padding:0;
}

.no-margin {
	margin:0;
}



/* Home Carousel */

#homeCarousel {
	.carousel-inner {
		margin:auto;
	}
}

#homeCarousel .carousel-indicators {
    left: 0;
    margin: auto;
    width: 100%;
    display: table;
    right: 0;
    max-width: 1200px;
    text-align: right;
}

#homeCarousel .carousel-indicators li {
    margin:0 5px;
    border:0;
    background:$grey;
    width:15px;
    height:15px;
}

#homeCarousel .carousel-indicators .active {
    background:$dark-grey;
    width:15px;
    height:15px;
}

#homeCarousel .carousel-caption {
    padding:0;
    left:5%;
    right:auto;
}

 #homeCarousel .carousel-caption h4 {
 	margin:0;    
}


#homeCarousel .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    width: 100%;
    margin:auto;
    line-height: 1;
    max-height:685px;
    object-fit:cover;
}



/* Navigation */

.container-fluid>.navbar-header {
	margin:0;
}

.navbar-default {
	
	margin-bottom:0; 
	
	.menu-main-menu-container {
			background:$grey;
			
		.navbar-nav {
			float:none;
			margin:0px;
			width:100%;
			max-width:1170px;
			display: block;
			position: relative;
			margin:auto;
			
			li {
				float:left;
				display: table-cell;
				width:20%;
				text-align: center;
				border-bottom:0;
				transition:.25s all ease-in-out;
	
				
				&:hover {
					background:$dark-grey;
					color:$white;
				}
				
				a {
					color:$dark-grey;
					font-family: 'Lato';
					font-size: 18px;
					padding:15px 0;
					font-weight:bold;
					
					&:hover {
						color:$white;
					}
					
					&:m {
						color:$dark-grey;
					}
				}
				
				//submenu items
				
				.dropdown-menu {
					margin:-1px 0 0;
					padding:0;
					
					li {
						width:100%;
						
						&:last-child {
							border-bottom:0;
						}
						
						a {
							background:$light-grey;
							color:$white;
							background-image: none;
						    padding: 10px;
						    text-align: left;
						    font-size: 16px;
						    transition:.25s all ease-in-out;
							
							&:hover {
								background:$light-grey;
								color:navy;
								background-image:none;
							}
						}
						
						&:hover {
							background:$dark-grey;
							background-image:none;
						}
					}
				}
			}
			
			
			.active {
				a {
					background:$grey;
					color:$white;
					
					&:focus, &:hover {
						background:$grey;
						background-repeat: repeat-x;
						background-position: center bottom;
						color:$white;
					}
						
				}
			}
			
			.open {
				a {
					background:$grey;
					background-image:none;
					color:$white;
					
					&:focus, &:hover {
						background:$grey;
						background-repeat: repeat-x;
						background-position: center bottom;
						color:$white;
					}
						
				}
			}
			
		}
	}
}

.sticky {
	position:fixed;
	top:0;
	right:0;
	left:0;
	width:100%;
}

.navbar-toggle { 
	margin:0 5px 0 0;
}



/* Footer */

.site-footer {
	background:$dark-grey;
	color:$white;
	padding:10px 0;
	text-align: center;	
	position: absolute;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1rem;
	
	a {
		color:$white;
		text-align: center;
	}
}

.form-control, select{
  	-webkit-border-radius: 0!important;
     -moz-border-radius: 0!important;
     border-radius: 0!important;
     -webkit-appearance: none;
}



@media screen and (max-width:768px) {
	

	
	/* Navigation */

	.navbar {
		margin-bottom:0; 
		
		.navbar-header {
			background:$dark-grey;
		}
		
		.navbar-toggle {
			padding:0;
			background:none;
			border:0;
			
			&:hover {
				background:none;
			}
			
			&:focus {
				background:none;
			}
			
			.icon-bar {
				background-color:$light-grey;
				height:5px;
			    width: 40px;
			    margin: 10px 10px 10px 0px;
				transition: all .2s
			}
		}
		
			
		.navbar-toggle .top-bar {
		    transform: rotate(45deg);
		    transform-origin: 0% 0%;
		}
		
		.navbar-toggle .middle-bar {
		    opacity: 0;
		}
		
		.navbar-toggle .bottom-bar {
		    transform: rotate(-45deg);
		    transform-origin: -10% 70%;
		}
		
		.navbar-toggle.collapsed .bottom-bar,
		.navbar-toggle.collapsed .top-bar {
		    transform: rotate(0);
		}
		
		.navbar-toggle.collapsed .middle-bar {
		    opacity: 1
		}
		
		
		#navbar {
			width:100%;
			max-width:1200px;
			margin:auto;
			padding:0!important;
			
			.menu-main-menu-container {
				#menu-main-menu {
					display:table;
					width:100%;
					margin:0;
					
					li {
						border-bottom: 1px solid $white;
						background:$dark-grey;
						display: table;
						width:100%;
						
						&:last-child {
							border-bottom: none;
						}
						
						a {
							font-size:30px;
							font-weight:bold;
							padding:25px 15px;
							color:$white;
							transition:$button-transition;
							
							&:hover {
								background:$dark-grey;
								color:$white;
							}
							
							&:after {
								content:"»";
								position:absolute;
								right:15px;
								transition:.25s transform ease-in-out;
							}
	
						}
						
						
						&.open>a {
				
								&:after {
									content: "»";
								    position: absolute;
								    right: 15px;
								    transform:rotate(90deg);
								}
							
						}
						
						
						.dropdown-menu {
							padding:0;
							border-top: 1px solid $white;
							
							li {
								background:$grey;
								a {
									font-size:18px;
									padding:10px;
									color:$white;
									
									&:hover {
										color:navy;
										background: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	
	#homeCarousel {
		.carousel-indicators {
		    position:relative;
		    width:auto;
		    max-width:none;
		    margin:auto;
		    bottom:0;
		    padding:20px 0 0;
		}
	}	
	
	
	
			/* Crucial to make nav hide show on mobile */
	.navbar-collapse.collapse {
		display:none!important;
	}
	
	.collapse.in {
	    display: table !important;
	    border: 0;
	}
	
	//override bootstrap to show hamburger on tablet portrait
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-nav .open .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
    }
	
	.overlay-nav {
		position:fixed;
		background:rgba(0,0,0,0.75);
		width:100%;
		height:100%;
		display:none;
		z-index:998;
	}
	
	
	.show-hide {
		display:table;
	}
	

	
}



@media screen and (max-width:480px) {
			
	
}


@media screen and (min-width: 768px) {
	
}